workflows/06-content-pilot/03-ai-copywriter.json
{
  "name": "CP-03-AI-Copywriter",
  "nodes": [
    {
      "parameters": {
        "content": "CP-03-AI-Copywriter\n\nGenerates SEO content with AI, stores the draft in Google Docs, logs metadata, and sends the draft by email.\n\nSteps:\n1. Form Trigger collects topic, keyword, and tone.\n2. Set: Prepare Prompt builds the SEO copywriting prompt.\n3. Basic LLM Chain sends the prompt to OpenAI.\n4. Code: Format Content parses the JSON response and formats the article draft.\n5. Google Docs creates and updates the draft document.\n6. Google Sheets logs topic, tone, document link, and creation time.\n7. Gmail sends the draft link for review.",
        "height": 288,
        "width": 672
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        416,
        -256
      ],
      "typeVersion": 1,
      "id": "9b2d7533-33f7-4a98-8129-33866994c6be",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        800,
        48
      ],
      "id": "0bb0e04b-bd8b-4804-8c04-946bce34ad57",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.4-nano",
          "mode": "id"
        },
        "responsesApiEnabled": false,
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        936,
        272
      ],
      "id": "5feb1df1-388d-4d75-8a9d-5b5b3446787e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "rxQqlIqeLFORxvPf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4c7e79e1-465d-417d-a1d5-a3db6702d3e6",
              "name": "prompt",
              "value": "=Ти си SEO копирайтър. Напиши за темата \"{{ $json['Тема'] }}\"  с ключова дума \"{{ $json['Ключова дума'] }}\" в тон \"{{ $json['Тон'] }}\".   Върни САМО валиден JSON:  {  \"meta_title\": \"заглавие до 60 символа с ключовата дума\",  \"meta_description\": \"описание до 155 символа\",  \"intro\": \"уводен параграф от 3-4 изречения\"  }",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        48
      ],
      "id": "91e7a3a3-b249-4e97-96b7-535d970f696f",
      "name": "Set: Prepare Prompt"
    },
    {
      "parameters": {
        "folderId": "1d19KIgg6xhiIap7VIJQYbad4pGGgoaMD",
        "title": "={{ $json.title }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1312,
        48
      ],
      "id": "9acae6dc-b291-4d68-941c-ceeba43c7fca",
      "name": "Google Docs: Create",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "6MiW1iicFihwkseI",
          "name": "Google Docs OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1pWbQI_zWyH76ldo3xO-yHQma2OjeOCuVtOtrdzLiIc0/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pWbQI_zWyH76ldo3xO-yHQma2OjeOCuVtOtrdzLiIc0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "topic": "={{ $('Form Trigger').item.json[\"Тема\"] }}",
            "tone": "={{ $('Form Trigger').item.json[\"Тон\"] }}",
            "doc_link": "=https://docs.google.com/document/d/{{ $('Google Docs: Create').item.json.id }}/edit",
            "created_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "topic",
              "displayName": "topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tone",
              "displayName": "tone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "doc_link",
              "displayName": "doc_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1760,
        48
      ],
      "id": "17f8a8d2-8258-4338-900e-86b3ff704a43",
      "name": "Google Sheets: Metadata",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0o1a8dYfiPrO3UUq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "mhristova27@gmail.com",
        "subject": "=\"ContentPilot Draft: {{ $('Form Trigger').item.json['Тема'] }}",
        "message": "={{ $json.doc_link }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1984,
        48
      ],
      "id": "946bc5bd-110c-4a51-96fb-cdb6b26669b9",
      "name": "Gmail: Send Draft",
      "webhookId": "db636d13-f3f0-41d7-a11a-b4e39471b8ce",
      "credentials": {
        "gmailOAuth2": {
          "id": "ziQphSIVo8i3Ru2h",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ai = JSON.parse($input.first().json.text);\n\nconst content = `Meta Title: ${ai.meta_title}\\n\\nMeta Description: ${ai.meta_description}\\n\\nIntro:\\n${ai.intro}`;\n\nconst prompt = $input.first().json.prompt || '';\nconst titleMatch = prompt.match(/темата \"([^\"]+)\"/);\nreturn [{ json: { content, title: `ContentPilot Draft - ${titleMatch ? titleMatch[1] : 'Draft'}` } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        48
      ],
      "id": "ef5af0a0-01b0-4165-a748-2c1b5f79e31f",
      "name": "Code: Format Content"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Code: Format Content').item.json.content }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1536,
        48
      ],
      "id": "1eac39c7-9b09-4294-be77-86c806a798b2",
      "name": "Google Docs: Update",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "6MiW1iicFihwkseI",
          "name": "Google Docs OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "AI Copywriter",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Тема",
              "requiredField": true
            },
            {
              "fieldLabel": "Ключова дума",
              "requiredField": true
            },
            {
              "fieldLabel": "Тон",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "professional"
                  },
                  {
                    "option": "friendly"
                  },
                  {
                    "option": "casual"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        416,
        48
      ],
      "id": "36184ca0-91f3-4d53-8c7b-5e71c0abb0e1",
      "name": "Form Trigger",
      "webhookId": "3c285d30-ec88-46a4-9734-dce12660e8f9"
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code: Format Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Prepare Prompt": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs: Create": {
      "main": [
        [
          {
            "node": "Google Docs: Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets: Metadata": {
      "main": [
        [
          {
            "node": "Gmail: Send Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Format Content": {
      "main": [
        [
          {
            "node": "Google Docs: Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs: Update": {
      "main": [
        [
          {
            "node": "Google Sheets: Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form Trigger": {
      "main": [
        [
          {
            "node": "Set: Prepare Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}