workflows/06-content-pilot/bonus-full-pipeline.json
{
  "name": "CP-Bonus-Full-Pipeline",
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "1aeV6kIvmHML0fwF",
          "mode": "list",
          "cachedResultUrl": "/workflow/1aeV6kIvmHML0fwF",
          "cachedResultName": "CP-04-Approval-Flow-Bonus"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "article_title": "={{ $json.article_title || $json.title }}",
            "content": "={{ $json.content || '' }}",
            "doc_link": "={{ $json.doc_link || $json.url }}",
            "platform": "={{ $json.platform || 'wordpress' }}",
            "approval_resume_url": "={{ $json.approval_resume_url || '' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "article_title",
              "displayName": "article_title",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "doc_link",
              "displayName": "doc_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "platform",
              "displayName": "platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "approval_resume_url",
              "displayName": "approval_resume_url",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -544,
        752
      ],
      "id": "d1afc102-bd20-4281-a2c9-6fca842b9e01",
      "name": "CP-04-Bonus: Send approval email"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1f73b299-c4c5-478a-a194-72e9b79379b1",
              "leftValue": "={{ $json.approval_status.trim() }}",
              "rightValue": "=approved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -320,
        752
      ],
      "id": "740ce09f-f2e8-413e-b3df-a0bbe56d9ef7",
      "name": "IF: Is Article Approved?"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "V0eBHFQIKjqGq2P5",
          "mode": "list",
          "cachedResultUrl": "/workflow/V0eBHFQIKjqGq2P5",
          "cachedResultName": "CP-06-Publish-Hook-Bonus"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "article_title": "={{ $json.article_title }}",
            "content": "={{ $json.content }}",
            "platform": "={{ $json.platform }}",
            "doc_link": "={{ $json.doc_link }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "article_title",
              "displayName": "article_title",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "platform",
              "displayName": "platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "doc_link",
              "displayName": "doc_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -96,
        656
      ],
      "id": "347840d0-70bb-4854-b2e7-eba9efdf651c",
      "name": "CP-06-Bonus: Publish and Log"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1997921c-783b-43e8-8e22-66f06d667d89",
              "name": "status",
              "value": "done",
              "type": "string"
            },
            {
              "id": "a17144e9-d6e0-4e3c-b0bf-4ff0e945837a",
              "name": "message",
              "value": "Article approved and sent to publish hook.",
              "type": "string"
            },
            {
              "id": "8f235aac-2446-4980-bb4a-780d98eb1622",
              "name": "article_title",
              "value": "={{ $('CP-03-Bonus: Generate article').item.json.title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        656
      ],
      "id": "4fc64b84-53f4-46e8-8c40-d77e735ccf71",
      "name": "Set: Done"
    },
    {
      "parameters": {
        "formTitle": "ContentPilot Bonus Pipeline",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Тема",
              "requiredField": true
            },
            {
              "fieldLabel": "Ключова дума",
              "requiredField": true
            },
            {
              "fieldLabel": "Тон",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "professional"
                  },
                  {
                    "option": "friendly"
                  },
                  {
                    "option": "casual"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Платформа",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "wordpress"
                  },
                  {
                    "option": "facebook"
                  },
                  {
                    "option": "linkedin"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -992,
        752
      ],
      "id": "be878e34-50a4-4b77-b6a3-67b94911841f",
      "name": "Form Trigger",
      "webhookId": "e25ad04b-6a12-4f6b-8956-be7a4fb8e406"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "VShglgtyYoeZCpmN",
          "mode": "list",
          "cachedResultUrl": "/workflow/VShglgtyYoeZCpmN",
          "cachedResultName": "CP-03-AI-Copywriter-Bonus"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Тема": "={{ $json['Тема'] }}",
            "Ключова дума": "={{ $json['Ключова дума'] }}",
            "Тон": "={{ $json['Тон'] }}",
            "Платформа": "={{ $json['Платформа'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Тема",
              "displayName": "Тема",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Ключова дума",
              "displayName": "Ключова дума",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Тон",
              "displayName": "Тон",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Платформа",
              "displayName": "Платформа",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -768,
        752
      ],
      "id": "a312be4f-94de-403d-9e15-e1ee014e5ef7",
      "name": "CP-03-Bonus: Generate article"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4bca3769-5cab-4d0a-90aa-ba6530728e0b",
              "name": "status",
              "value": "rejected",
              "type": "string"
            },
            {
              "id": "34b9e3a1-7f44-41d6-a751-95dd2ca5f223",
              "name": "message",
              "value": "Article rejected. Publishing stopped.",
              "type": "string"
            },
            {
              "id": "b70db636-09d8-4dfa-937d-a7bc4f0933bf",
              "name": "article_title",
              "value": "={{ $('CP-03-Bonus: Generate article').item.json.title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -96,
        848
      ],
      "id": "fab663c5-8a2f-47b1-b4ef-ba2b36ef47d5",
      "name": "Set: Rejected"
    },
    {
      "parameters": {
        "chatId": "8767865172",
        "text": "=ContentPilot: - {{ $json.article_title }}\nОТХВЪРЛЕНО",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        128,
        848
      ],
      "id": "882628fe-2436-46ee-b08b-587fe644c159",
      "name": "Send a rejection message",
      "webhookId": "037bc382-e2de-4a83-afb5-3c536727335d",
      "credentials": {
        "telegramApi": {
          "id": "0UGja7NV2qDoAzoR",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8767865172",
        "text": "=ContentPilot: - {{ $json.article_title }}\nОДОБРЕНО И ПУБЛИКУВАНО",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        352,
        656
      ],
      "id": "b7824407-c829-46c9-af5d-705811767ef4",
      "name": "Send a published message",
      "webhookId": "037bc382-e2de-4a83-afb5-3c536727335d",
      "credentials": {
        "telegramApi": {
          "id": "0UGja7NV2qDoAzoR",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "CP-Bonus-Full-Pipeline\n\nMain orchestration workflow for the bonus ContentPilot pipeline.\n\nSteps:\n1. User submits topic, keyword, and tone through the form.\n2. Calls CP-03-AI-Copywriter-Bonus to generate the article draft.\n3. Sends the generated draft to CP-04-Approval-Flow-Bonus for email approval.\n4. Checks whether the article was approved or rejected.\n5. If approved, sends the article to CP-06-Publish-Hook-Bonus.\n6. If rejected, stops publishing and sends a rejection notification.\n7. Sends a Telegram notification with the final result.",
        "height": 272,
        "width": 496
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -976,
        448
      ],
      "typeVersion": 1,
      "id": "9d23fd9c-cf9e-43b6-b230-c5ad7bd3cf01",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "CP-04-Bonus: Send approval email": {
      "main": [
        [
          {
            "node": "IF: Is Article Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Is Article Approved?": {
      "main": [
        [
          {
            "node": "CP-06-Bonus: Publish and Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set: Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CP-06-Bonus: Publish and Log": {
      "main": [
        [
          {
            "node": "Set: Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form Trigger": {
      "main": [
        [
          {
            "node": "CP-03-Bonus: Generate article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CP-03-Bonus: Generate article": {
      "main": [
        [
          {
            "node": "CP-04-Bonus: Send approval email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Done": {
      "main": [
        [
          {
            "node": "Send a published message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Rejected": {
      "main": [
        [
          {
            "node": "Send a rejection message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}