workflows/03-ai-and-agents/04-memory-reset.json
{
  "name": "4. Memory + Reset",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {
          "responseMode": "lastNode"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        112
      ],
      "id": "e8121667-1dc1-4561-b3c4-1370ca874dd6",
      "name": "When chat message received",
      "webhookId": "8bd7da46-4e45-46c5-8c71-5e1684289179"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f4d8df66-213a-49e5-8d9c-eae7ad8d26fe",
              "leftValue": "={{ $json.chatInput }}",
              "rightValue": "/reset",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        112
      ],
      "id": "975c0dee-7856-4a4f-85d0-88b3d03d7d87",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        504,
        312
      ],
      "id": "e6b31658-06f7-4f43-a9ff-ef1130cfd2d7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "delete",
        "deleteMode": "all"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        504,
        -192
      ],
      "id": "cba26bbf-eb53-4f72-8e5d-8bce266b5619",
      "name": "Chat Memory Manager"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {
          "webSearch": {
            "searchContextSize": "low"
          }
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        448,
        544
      ],
      "id": "2a689d6c-ae26-49d0-8223-f1ea778ac9c2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "rxQqlIqeLFORxvPf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        576,
        536
      ],
      "id": "12703ab2-9a40-4923-ac31-bbd75d44a347",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        704,
        536
      ],
      "id": "851c6e90-1f85-4f1f-8142-13ae6c430258",
      "name": "Calculator"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b542f17d-b063-403f-b86d-0be51e288c6f",
              "name": "success",
              "value": "Паметта е изтрита",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        -192
      ],
      "id": "4c648cd6-8d87-4b7b-9f2f-98b0b6280650",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        496,
        16
      ],
      "id": "e4563b07-34a9-4418-91f9-8eca2ddafab2",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "content": "### Memory Reset\nResets conversation history with the chat memory manager"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -128
      ],
      "typeVersion": 1,
      "id": "1618be32-12b7-4168-810c-f57c5cc67409",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}