workflows/03-ai-and-agents/06-ai-feedback.json
{
  "name": "6 AI feedback",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -144,
        0
      ],
      "id": "e21989f1-c113-4b5a-914b-96d08a69933b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1FzeXd3gb50azPY4tgGtkFfkIFMXuzKRd_c_wshNvcOI/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FzeXd3gb50azPY4tgGtkFfkIFMXuzKRd_c_wshNvcOI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        80,
        0
      ],
      "id": "4fb11ffa-b6ef-4bff-bf6d-43d694c7adc7",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0o1a8dYfiPrO3UUq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Анализирай следния клиетски отзив {{ $json.feedback }}\n\nВърни само валидни JSON\n{\"sentiment\": \"Positive/Neutral/Negative\"}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        304,
        0
      ],
      "id": "96997c58-e098-42e8-b2d2-b0d5a3655ecd",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.4-nano",
          "mode": "list",
          "cachedResultName": "gpt-5.4-nano"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        304,
        192
      ],
      "id": "c6933e17-6c20-444c-b1c4-475089720619",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "rxQqlIqeLFORxvPf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1FzeXd3gb50azPY4tgGtkFfkIFMXuzKRd_c_wshNvcOI/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FzeXd3gb50azPY4tgGtkFfkIFMXuzKRd_c_wshNvcOI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}",
            "sentiment": "={{ JSON.parse($json.text).sentiment }}",
            "name": "={{ $('Get row(s) in sheet').item.json.name }}",
            "email": "={{ $('Get row(s) in sheet').item.json.email }}",
            "feedback": "={{ $('Get row(s) in sheet').item.json.feedback }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "feedback",
              "displayName": "feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            },
            {
              "id": "sentiment",
              "displayName": "sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        656,
        0
      ],
      "id": "15121509-e1d2-40ce-8853-8f3cc0928e06",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0o1a8dYfiPrO3UUq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "TO-DO: \nFinish the workflow from the excercise",
        "height": 96
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        -144
      ],
      "typeVersion": 1,
      "id": "72935505-9bb1-4e2a-a078-a1f3adef83d8",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "pinData": {
    "Get row(s) in sheet": [
      {
        "json": {
          "row_number": 2,
          "name": "Mimi",
          "email": "mhristova27@gmail.com",
          "feedback": "Страхотно е, препоъчвам"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}