workflows/03-ai-and-agents/08-firecrawl-web-scraping-ai-summary.json
{
  "name": "08 Firecrawl Web Scraping + AI Summary",
  "nodes": [
    {
      "parameters": {
        "content": "## Web scrape + Summary\n\n[Manual Trigger] --> [Set: url] --> [HTTP Request: Firecrawl] | [LLM Chain: summarize] | [Gmail: send]"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        -64
      ],
      "typeVersion": 1,
      "id": "0b025dd4-5da5-4646-a257-f53d42dda35e",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -144,
        -32
      ],
      "id": "2faefe99-b19f-4c0c-b8f2-a67763e0b8ef",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "449ed5ba-9ec1-4d24-a70d-15842a111046",
              "name": "url",
              "value": "https://goguide.bg/",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        -32
      ],
      "id": "3e37a58e-2cd4-4f30-9dfc-464e04113c2d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "scrape",
        "url": "=https://goguide.bg/ {{ $json.url }}",
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [
        304,
        -32
      ],
      "id": "0a4e9a6d-d5ed-4dc0-b598-f2ddafdc70e8",
      "name": "/scrape",
      "credentials": {
        "firecrawlApi": {
          "id": "rL7M5u6e5HbZSe71",
          "name": "Firecrawl API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Създай кратък резюме от следния сайт: {{ $json.data.markdown }} Резюмето да е 3-5 изречения на български.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        560,
        -32
      ],
      "id": "40660075-9280-4552-8d56-5004c79dfbfb",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        560,
        176
      ],
      "id": "5c352f82-b284-4a88-99d3-5e9f233408de",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "rxQqlIqeLFORxvPf",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "/scrape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/scrape": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}