workflows/03-ai-and-agents/google-reviews-sentiment-analysis.json
{
  "name": "Google Reviews Sentiment Analysis",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "account": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "location": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "7a968e1d-9c19-40bc-9b4f-753a3be81f6a",
      "name": "Get Google Reviews",
      "type": "n8n-nodes-base.googleBusinessProfileTrigger",
      "typeVersion": 1,
      "position": [
        240,
        304
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "=google_reviews_{{ $now.toFormat(\"yyyy-MM-dd_HHmmss\") }}.xlsx",
          "headerRow": true,
          "sheetName": "Reviews"
        }
      },
      "id": "315b3757-5525-4752-b045-596371be5f58",
      "name": "Save Reviews to Excel",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        464,
        304
      ]
    },
    {
      "parameters": {
        "inputText": "={{ $json.comment }}",
        "options": {
          "categories": "Positive, Neutral, Negative",
          "includeDetailedResults": true
        }
      },
      "id": "816b49a6-2b07-4e2e-a722-4c7ed8ec67d2",
      "name": "Analyze Sentiment",
      "type": "@n8n/n8n-nodes-langchain.sentimentAnalysis",
      "typeVersion": 1.1,
      "position": [
        688,
        304
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.3
        }
      },
      "id": "bb355338-24a5-4335-8452-00a71b857c84",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        640,
        528
      ],
      "credentials": {
        "openAiApi": {
          "id": "rxQqlIqeLFORxvPf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "=sentiment_analysis_{{ $now.toFormat(\"yyyy-MM-dd_HHmmss\") }}.xlsx",
          "headerRow": true,
          "sheetName": "Sentiment Analysis"
        }
      },
      "id": "141f2701-b607-4971-8238-f889213980ef",
      "name": "Save Results to Excel",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1072,
        240
      ]
    }
  ],
  "connections": {
    "Get Google Reviews": {
      "main": [
        [
          {
            "node": "Save Reviews to Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Reviews to Excel": {
      "main": [
        [
          {
            "node": "Analyze Sentiment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Sentiment": {
      "main": [
        [
          {
            "node": "Save Results to Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analyze Sentiment",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": null
}