workflows/07-t4-exercises/03-insert-and-read-data-from-google-sheets.json
{
  "name": "[Ex3] [T4] Insert and read data from Google Sheets",
  "nodes": [
    {
      "parameters": {},
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        48,
        240
      ],
      "typeVersion": 1,
      "id": "6a740c86-fc61-46bc-b08e-1aba4841a392"
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "id"
            }
          ],
          "string": [
            {
              "name": "name",
              "value": "n8n"
            }
          ]
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "position": [
        288,
        432
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "id": "06412c83-e1b8-4ca7-be00-4cc67e4f1b2c"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1Ukd3OQrytmj0-P0ZGEboRXbqwMe8ik6SVKCHaPMceCA/edit?gid=0#gid=0",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ukd3OQrytmj0-P0ZGEboRXbqwMe8ik6SVKCHaPMceCA/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "name",
              "lookupValue": "Mimi"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        512,
        432
      ],
      "id": "bbe9bf56-1ed6-4751-8634-94ec9f87ed9d",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0o1a8dYfiPrO3UUq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "New form",
        "formFields": {
          "values": [
            {
              "fieldLabel": "name",
              "fieldName": "Name"
            },
            {
              "fieldLabel": "message",
              "fieldName": "Message"
            },
            {
              "fieldLabel": "email",
              "fieldType": "email",
              "fieldName": "Email"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        80,
        432
      ],
      "id": "9c59d74a-1549-4aa9-858f-ace460118b9e",
      "name": "On form submission",
      "webhookId": "e1f573eb-0585-484d-b685-40d0b3d39269"
    },
    {
      "parameters": {
        "content": "## On-event trigger",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        448
      ],
      "typeVersion": 1,
      "id": "645923f8-ea92-420e-878e-4c7520ee0ff1",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Manual trigger\n",
        "height": 80,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        256
      ],
      "typeVersion": 1,
      "id": "aae60013-43a1-4f0c-861a-e74820292bc7",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Ukd3OQrytmj0-P0ZGEboRXbqwMe8ik6SVKCHaPMceCA/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1160113010,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ukd3OQrytmj0-P0ZGEboRXbqwMe8ik6SVKCHaPMceCA/edit#gid=1160113010"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.name }}",
            "email": "={{ $json.email }}",
            "message": "={{ $json.message }}",
            "submittedAt": "={{ $json.submittedAt }}",
            "formMode": "={{ $json.formMode }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "submittedAt",
              "displayName": "submittedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "formMode",
              "displayName": "formMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1152,
        432
      ],
      "id": "e4e257da-4e64-4d8b-b235-aed125eb4bbc",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0o1a8dYfiPrO3UUq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1ac13493-9df3-472e-bdf5-2b3fae40c3d7",
              "name": "name",
              "value": "={{ $json.name.toUpperCase() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        432
      ],
      "id": "77d4bfe2-273e-421f-a46b-dc1daf4dca68",
      "name": "Make Name UpperCase"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "bb3b9ca8-f5ff-49fb-8f6b-7b90cc818264",
              "leftValue": "name",
              "rightValue": "MIMI",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1168,
        544
      ],
      "id": "e6c7de96-e9dc-4e08-a0f8-d363586d399f",
      "name": "Filter"
    }
  ],
  "connections": {
    "Set": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        []
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Make Name UpperCase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make Name UpperCase": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 1,
  "meta": {
    "templateId": "600",
    "templateCredsSetupCompleted": true
  }
}