workflows/07-t4-exercises/09-bonus-3-bug-hunt.json
{
  "name": "[Ex9] [Bonus 3] [T4] Bug Hunt",
  "nodes": [
    {
      "parameters": {
        "content": "## Bug Hunt\nThis workflow has an intentional error and must be fixed\nCheck variable type with {{ type of $json.price}}\n\nSet an Error Trigger\n* Works only when the workflow is executed on prod",
        "height": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -800,
        -16
      ],
      "id": "72582654-9c60-4df6-9ef0-838c704c307a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2a38e183-5ae4-42b3-b617-cc7927f76969",
              "name": "price",
              "value": "5",
              "type": "string"
            },
            {
              "id": "12f0be86-fbf0-4da6-9c6f-ccf0913e755e",
              "name": "quantity",
              "value": 50,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        0
      ],
      "id": "884aef9c-c1a9-4b2d-835e-77c99c8e508c",
      "name": "Set price and quantity"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "12e80fbf-1ffd-4319-ba36-cf27c7644b88",
              "name": "total",
              "value": "={{ $json.price * $json.quantity",
              "type": "object"
            },
            {
              "id": "fe355235-9190-43be-9d12-798507150347",
              "name": "doublePrice",
              "value": "={{ $json.price + $json.price }}",
              "type": "string"
            },
            {
              "id": "561c827b-960a-4f66-839e-6f7faee1ef91",
              "name": "priceType",
              "value": "={{ typeof $json.price }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        0
      ],
      "id": "22be4e9f-cada-42cb-a090-f2cc17935036",
      "name": "Get total price"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -464,
        224
      ],
      "id": "2d632b2f-d674-40e1-ad88-ca2b6ddf653d",
      "name": "Error Trigger",
      "notesInFlow": true
    },
    {
      "parameters": {
        "sendTo": "mhristova27@gmail.com",
        "subject": "=Error in workflow  {{ $json.workflow.name }}",
        "message": "=Error in  {{ $json.execution.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -240,
        224
      ],
      "id": "c21e210b-5411-421a-aabc-76f196afe454",
      "name": "Send a message",
      "webhookId": "4688aed6-7692-41e0-b373-095ba72066e4",
      "credentials": {
        "gmailOAuth2": {
          "id": "ziQphSIVo8i3Ru2h",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -464,
        0
      ],
      "id": "2b002046-2e57-4fa0-877d-013a2de202a6",
      "name": "Schedule Trigger",
      "disabled": true
    }
  ],
  "connections": {
    "Set price and quantity": {
      "main": [
        [
          {
            "node": "Get total price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set price and quantity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "Yrj7yZx1ovfGxAVK",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "pinData": {
    "Set price and quantity": [
      {
        "json": {
          "price": "5",
          "quantity": 50
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}