workflows/00-intro-and-foundations/00-api-ping.json
{
  "name": "00 API Ping",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "ccaccd67-9641-4961-99e4-14a768356d26",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://catfact.ninja/fact",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        0
      ],
      "id": "9d96c956-8771-44f1-82bd-b184ff9346de",
      "name": "HTTP Request Fact API"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6079e3ed-9325-4145-af3c-b58ccaf61c2d",
              "name": "fact",
              "value": "={{ $json.fact }}",
              "type": "string"
            },
            {
              "id": "a8b00f39-8c8d-4598-acc8-613f82fff702",
              "name": "length",
              "value": "={{ $json.length }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        0
      ],
      "id": "aa95498c-8b55-4487-acba-30171e07c384",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "## Warm-up — API Ping",
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -352,
        -128
      ],
      "typeVersion": 1,
      "id": "25e8d951-5b7b-42c7-ac00-9c581403ab39",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request Fact API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Fact API": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": null
}