workflows/00-intro-and-foundations/01-email-summarizer.json
{
  "name": "1 Email Summarizer",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "88f3b130-ec0d-4aff-882d-b2c81fade2e1",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Обобщи следния текст{{ $json.emailBody }}, Включи основна тема и кратко обобшение",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        448,
        0
      ],
      "id": "6e27884f-635a-4208-8c85-d5e1b286088d",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "sendTo": "mhristova27@gmail.com",
        "subject": "Hello AI",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        800,
        0
      ],
      "id": "261b3b20-7ef1-4a05-8951-347c1f6adf31",
      "name": "Send a message",
      "webhookId": "906079e6-be11-4135-a188-e92bad7bdb0e",
      "credentials": {
        "gmailOAuth2": {
          "id": "ziQphSIVo8i3Ru2h",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "31952932-f274-46c1-8fe3-dffd6440b88c",
              "name": "emailBody",
              "value": "Правозащитни организации и палестински лидери осъдиха приетия от Израел закон, одобряващ прилагането на смъртно наказание срещу палестинци, осъдени за смъртоносни нападения, наричайки мярката нарушение на международното право и по своята същност дискриминационна. Това предаде Ал джазира.  Законодателството, прието на 30 март от израелския парламент, прави смъртното наказание чрез обесване стандартното наказание за палестинците в окупирания Западен бряг, които са признати за виновни за убийство на израелци. Законът бе подкрепен от крайнодесния израелски министър на националната сигурност Итамар Бен-Гвир, който празнува с шампанско в пленарната зала, след като законът мина с 62 гласа \"за\" срещу 48 \"против\".  \"Написахме история\", заяви Бен-Гвир в публикация в социалните медии, отхвърляйки международните призиви за оттегляне на законодателството. \"И казвам на хората от Европейския съюз, които оказваха натиск и заплашваха държавата Израел: Не се страхуваме, няма да се подчиним\", посочи той.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "4cbb1d64-a13d-40b5-af58-c5220fff327d",
      "name": "Email Text"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.4-nano",
          "mode": "list",
          "cachedResultName": "gpt-5.4-nano"
        },
        "responsesApiEnabled": false,
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        416,
        192
      ],
      "id": "327e300b-8e83-44be-8123-4c6e9a60f13f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "rxQqlIqeLFORxvPf",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Email Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Text": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}