workflows/05-mcp/06-mcp-client-agent.json
{
  "name": "6. MCP Client Agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "dabaf004-d6c2-400c-b313-9ba31d575129",
      "name": "When chat message received",
      "webhookId": "6a5226fc-c9ee-4139-9aa2-b6d6825c003e"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant and if the user prompts for the weather, use the MCP tool"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        280,
        0
      ],
      "id": "1b4af47f-6f0f-4391-8ef8-eedf55535f1a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        224,
        224
      ],
      "id": "33279b81-6042-4226-8bca-dd3783bde670",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "rxQqlIqeLFORxvPf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        352,
        224
      ],
      "id": "464bfc9f-fb2a-4afc-a76b-d2b840aeb8d6",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "endpointUrl": "https://mhristova27.app.n8n.cloud/mcp/7d0f5ecb-52e7-4326-a3b2-a2d3df110dc8",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        480,
        224
      ],
      "id": "721330e1-9eff-4750-aac6-df4616b3d464",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "content": "## TO-DO: \nSet up a MCP server и MCP Client "
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -432,
        -80
      ],
      "typeVersion": 1,
      "id": "44a68ea5-ca99-4a5a-a16e-d7979d11a424",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "sendTo": "mhristova27@gmail.com",
        "subject": "Weather MCP Server Tool",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        640,
        0
      ],
      "id": "662fccb2-0610-4a84-82cf-88cb714814f0",
      "name": "Send a message",
      "webhookId": "89a0fef0-cdb7-4a27-804c-ff4c5b4451b5",
      "credentials": {
        "gmailOAuth2": {
          "id": "ziQphSIVo8i3Ru2h",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}