workflows/01-integrations-and-webhooks/daily-registration-report.json
{
  "name": "Daily Registration Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "0f9aa09f-d599-4962-9cc8-3286474184c9",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LiDQFph7mWh649Qs4dZ3SPSu143Xm9KUIDHgUl1ZkEM",
          "mode": "list",
          "cachedResultName": "n8n-event-registration",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LiDQFph7mWh649Qs4dZ3SPSu143Xm9KUIDHgUl1ZkEM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LiDQFph7mWh649Qs4dZ3SPSu143Xm9KUIDHgUl1ZkEM/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        0
      ],
      "id": "1cb0da20-09ab-4844-9477-208b166f58ab",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0o1a8dYfiPrO3UUq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bfc8f06e-6874-4a45-aef9-0f1f8ddf15c2",
              "name": "reportDate",
              "value": "={{ $now.toISO()}}",
              "type": "string"
            },
            {
              "id": "bb549d3f-6314-4e78-a7d8-8ec6eaf5d78c",
              "name": "totalRegistrated",
              "value": "={{$input.all().length}}",
              "type": "number"
            },
            {
              "id": "5eb07b92-562d-4915-b172-9619faa960c5",
              "name": "reportTitle",
              "value": "Daily Report Test",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        0
      ],
      "id": "d2814469-4d0b-4684-a14b-ef3d22238750",
      "name": "Summary",
      "executeOnce": true
    },
    {
      "parameters": {
        "sendTo": "mhristova27@gmail.com",
        "subject": "={{ $json.reportTitle }}",
        "message": "=Total registrations for the event are  {{ $json.totalRegistrated }}! Today is {{ $json.reportDate }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        672,
        0
      ],
      "id": "77375d16-ea42-46be-a6e8-00ca686a5f74",
      "name": "Send a message",
      "webhookId": "c9b7b8fb-fc7b-43c0-9ac7-5d4dc013c2d5",
      "credentials": {
        "gmailOAuth2": {
          "id": "ziQphSIVo8i3Ru2h",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}