workflows/04-reliability-and-monitoring/04-resilient-api-flow-error-alerts.json
{
  "name": "04 Resilient API Flow + Error Alerts",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        80
      ],
      "id": "3fb10dc6-9d3e-4190-b140-52fae7cc1ee7",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://catfact.ninja/fact",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        80
      ],
      "id": "e1fa1f8f-3100-486a-ba75-33abd7e04ded",
      "name": "HTTP Request",
      "retryOnFail": true,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ff058613-e944-4835-826a-0deeb5f878f3",
              "name": "fact",
              "value": "={{ $json.fact }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        -16
      ],
      "id": "7c8f1322-8553-4276-a837-50fc21049c01",
      "name": "Format Fact"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "74a7a55d-fb56-40d2-b4ba-82ef4d4dcf5e",
              "name": "error.message",
              "value": "={{ $json.error.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        176
      ],
      "id": "2c5c0163-c150-4f7d-9454-3d0faa8dc076",
      "name": "Build Alert"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "e5625137-d7fa-4e98-9fe4-819fafdf0ab7",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        80
      ],
      "id": "368db418-58f6-4847-968a-5bbd1123a7b5",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -208,
        -128
      ],
      "typeVersion": 1,
      "id": "17a6113e-edc9-4f0a-9cca-49345064b24b",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Fact": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Format Fact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": null
}