workflows/04-reliability-and-monitoring/06-error-handling-demo.json
{
  "name": "06 - Error Handling Demo",
  "nodes": [
    {
      "parameters": {
        "url": "https://this-domain-does-not-exist-12345.com",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        192,
        -16
      ],
      "id": "3cd17ace-09ad-4ec8-9fcc-42d483335148",
      "name": "HTTP Request",
      "retryOnFail": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -32,
        208
      ],
      "id": "b57f13e8-31ae-4e64-aa65-cf6ef4d1c649",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "content": "In the setting of HTTP request we can change the paramer what to do on error -> workflow stops \n-> workflow coninies"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -176,
        -240
      ],
      "id": "d2f89c15-598b-4f99-adf6-860f7e0f4ed5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -32,
        -16
      ],
      "id": "730e43bb-4a67-4528-b625-2c22824639e0",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "sendTo": "mhristova27@gmail.com",
        "subject": "Workflow Error Alert",
        "message": "=Error {{ $json.execution.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        192,
        208
      ],
      "id": "6381fa84-c235-4212-8b50-46db47584256",
      "name": "Send a message1",
      "webhookId": "2407d691-251f-4095-a3bf-e0701e334c70",
      "credentials": {
        "gmailOAuth2": {
          "id": "ziQphSIVo8i3Ru2h",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## TO-DO:\n* Get the error trigger to send a gmail "
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -304,
        144
      ],
      "id": "291dbec6-35cc-489e-af09-49a68ea6d2ce",
      "name": "Sticky Note1"
    }
  ],
  "connections": {
    "HTTP Request": {
      "main": [
        [],
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "VT4rIBLRgUAVvbFR",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}